<div class="container">
    <div class="BOelement">
        <h3>Dodaj nowy produkt</h3>
    </div>
    <div class="BOelement">
        <label>Nazwa: <br>
                <input [(ngModel)]="newProduct.name">
            </label><br>
        <label>Cena: <br>
                <input [(ngModel)]="newProduct.price">
            </label><br>

        <label>Kategoria: <br>
                <select [(ngModel)]="category" >
                    <option *ngFor="let c of this.categoryList | async" [ngValue]="c.name">{{c.name}}</option>
                </select>
            </label><br>
        <label>Ilość: <br>
                <input [(ngModel)]="newProduct.quantity">
            </label><br>
        <label>Zdjęcie: <br>
                <input [(ngModel)]="newProduct.thumbnails">
            </label><br>
        <label>Opis: <br>
                <input [(ngModel)]="newProduct.description">
            </label>
    </div>
    <div id="button">
        <button (click)="onSubmit()" id="add" type="submit">Dodaj</button>
    </div>
</div>
<div class="container">
    <div class="BOelement">
        <h3>Dodaj nową kategorię</h3>
    </div>
    <div class="BOelement">
        <label>Nazwa: <br>
            <input [(ngModel)]="newCategory">
        </label><br>
    </div>
    <div id="button">
        <button (click)="onSubmitCategory()" id="add" type="submit">Dodaj</button>
    </div>
</div>